@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  background-color: lightgray;
}
.loader {
  margin-left: 40rem;
  margin-top: 15rem;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #2874f0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  background-color: #2874f0;
  color: white;
  font-size: 1rem;
}

#nav .nav-items {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
  flex-wrap: wrap;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.product-container {
  flex-basis: 85%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

#flex-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 3.7rem;
  margin-right: 3.7rem;
}

#flex-3 .card {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 35rem;
  background-color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
#flex-3 .card .upper-card {
  height: 50%;
  /* background-color: #55595c; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

#flex-3 .card .lower-card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-left: 1rem;
  margin-right: 0.4rem;
  margin-top: 0.5rem;
}

/* #flex-3 .card .lower-card .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
} */

#flex-3 .card .lower-card .bottom .bottom-btn-1 {
  margin-right: -0.25rem;
}

.img-size {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.product-name {
  font-size: 1rem;
  font-weight: 600;
  color: #2874f0;
}

.price {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.category {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.bottom {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

.bottom-btn-1 {
  background-color: #2874f0;
  height: 2.5rem;
  width: 5rem;
  border-radius: 0.4rem;
  color: white;
  margin-left: 1rem;
  border: none;
}

.bottom-btn-2 {
  background-color: #2874f0;
  height: 2.5rem;
  width: 5.8rem;
  border-radius: 0.4rem;
  color: white;
  margin-right: 1rem;
  border: none;
}

.users {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flex-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .flex-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #flex-3 .card {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    height: 35rem;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }
}
