* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 62.5%;
}

#users-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1rem;
}

.user {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: white;
  font-size: 0.8rem;
  flex-basis: 30%;
  height: 11rem;
  padding-left: 0.5rem;
  margin-top: 0.9rem;
  justify-content: center;
  align-items: flex-start;
  box-shadow: 5px 10px #888888;
  border-radius: 0.4rem;
}

.icon {
  text-align: center;
  width: 100%;
}

.no-user,
.no-product {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-user h3 {
  margin-top: 1rem;
  font-size: 3rem;
}

.no-product h3 {
  margin-top: 1rem;
  font-size: 3rem;
}

.error-404 {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error-404 h3 {
  margin-top: 1rem;
  font-size: 3rem;
}

@media (max-width: 800px) {
  #users-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .user {
    padding-top: .9rem;
    padding-bottom: .9rem;
    margin-top: 1.4rem;
    display: flex;
    flex-basis: 80%;
  }
}
