* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  background-color: #2874f0;
  color: white;
  font-size: 1rem;
}

#nav .nav-items {
  display: flex;
  justify-content: space-around;
  flex-basis: 40%;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}

#signup-flex {
  /* border: 1px solid red; */
  display: flex;
  padding: 5rem;
  justify-content: center;
}

.left-signup {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  background-color: #2874f0;
  color: white;
  padding: 1rem;
  gap: 1rem;
}

#signup-flex > .left-signup > .signup-heading {
  font-size: 2rem;
  font-weight: bold;
}
#signup-flex > .left-signup > .signup-message {
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
}
#signup-flex > .left-signup > .cart-icon {
  margin-top: 10rem;
  margin-left: 4rem;
}

.right-signup {
  display: flex;
  flex-direction: column;
  flex-basis: 55%;
  background-color: white;
  padding: 5rem;
  gap: 0.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  /* flex-basis: 55%; */
  background-color: white;
  /* padding: 5rem; */
  gap: 0.5rem;
}
label {
  font-size: 1rem;
  color: gray;
}

input {
  border: none;
  border-bottom: 0.07rem solid #2874f0;
}

input:focus {
  outline: none;
}

.agree-tos {
  display: flex;
}

.button-holder {
  display: flex;
  justify-content: flex-end;
}
.agree-tos > .tos-concent {
  margin-left: 0.4rem;
  font-size: 0.8rem;
  color: gray;
}

.button-holder > button {
  border: none;
  width: 8rem;
  height: 2rem;
  background-color: #2874f0;
  color: aliceblue;
  font-size: 1rem;
}

.invalid {
  color: red;
  font-size: 0.9rem;
}

.terms-condition {
  color: black;
  font-weight: bold;
}

#valid-message {
  color: #2874f0;
  font-size: 2rem;
}

@media (max-width: 760px) {
  #nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #2874f0;
    color: white;
    font-size: 1rem;
  }

  #nav .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 40%;
    flex-wrap: wrap;
  }

  #signup-flex {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
  }

  #signup-flex {
    display: flex;
    flex-direction: column;
  }
  .left-signup {
    display: flex;
    flex-direction: column;
    /* flex-basis: 30%; */
    background-color: #2874f0;
    color: white;
    padding: 1rem;
    gap: 1rem;
  }

  #signup-flex > .left-signup > .signup-heading {
    font-size: 2rem;
    font-weight: bold;
  }
  #signup-flex > .left-signup > .signup-message {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.5rem;
  }
  #signup-flex > .left-signup > .cart-icon {
    margin-top: 3rem;
    margin-left: 2rem;
  }

  .right-signup {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.4rem;
    gap: 0.5rem;
  }
}
